<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>A Sinatra app to access Google+</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/juego.css"/>
  </head>
  <body>
    <div class="container" align="center">
        <div class="page-header center"><h3>Juego</h3></div>
        <table id="tablero" name="tablero">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td><img src="images/punto.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/punto.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/punto.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/punto.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/punto.jpg"/></td>
                </tr>
                <tr>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                </tr>
                <tr>
                    <td><img src="images/punto.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/punto.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/punto.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/punto.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/punto.jpg"/></td>
                </tr>
                <tr>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                </tr>
                <tr>
                    <td><img src="images/punto.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/punto.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/punto.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/punto.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/punto.jpg"/></td>
                </tr>
                <tr>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                </tr>
                <tr>
                    <td><img src="images/punto.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/punto.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/punto.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/punto.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/punto.jpg"/></td>
                </tr>
                <tr>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                </tr>
                <tr>
                    <td><img src="images/punto.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/punto.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/punto.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/punto.jpg"/></td>
                    <td><img src="images/espacioBlanco.jpg"/></td>
                    <td><img src="images/punto.jpg"/></td>
                </tr>
            </tbody>
        </table>
        
    </div>
  </body>
</html>